DIAGRAMS_HOST_DIRECTORY=/home/DevOps/Projects/devops-ai/workspace/generated-diagrams # Set it based on your host path, it should be same as 'DIAGRAMS_LOCAL_DIRECTORY' in application servers .env file
TERRAFORM_HOST_DIRECTORY=/home/DevOps/Projects/devops-ai/workspace/terraform-projects # Set it based on your host path, it should be same as 'TERRAFORM_LOCAL_DIRECTORY' in application servers .env file
TERRAFORM_CONTAINER_DIRECTORY=/app/terraform-projects # Do not change this
DIAGRAMS_CONTAINER_DIRECTORY=/app/generated-diagrams # Do not change this